<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="KriyaAutomation" verbose="5">
	<test name="ScheduleClassesTest">
		<parameter name="browser" value="Firefox" />
		<classes>
			<class name="com.ecom.TestCases.AmazonTest" />
		</classes>
	</test>
</suite>